.navigationDrawer .MuiTypography-root {
  font-weight: 600;
  letter-spacing: 3.2px;
}
.navigationDrawer .MuiList-root .MuiList-root .MuiTypography-root {
  font-weight: 600;
  letter-spacing: 0;
}
.navigationDrawer .MuiList-root .MuiDivider-root {
  background-color: rgba(255,255,255,0.2);
}